/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database.sqlite
/public/build
/storage/pail
.phpactor.json
auth.json
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
.DS_Store
Thumbs.db
